* {
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    text-align: center;
    color: bisque;
    background-color: purple;
}
.choice{
    height: 200px;
    width: 200px;
    display: flex;
   
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: blueviolet;
}
img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 5rem;
    gap: 5rem;
   
}
.choice{
   display: inline;
   margin-left: auto;
   margin-right: auto;
   border-radius: 500%;
}
.score{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
    margin-bottom: 3rem;
}
.comp,.user{
    font-size: 4rem;
}
.msg{
   margin-top: 5px;
    font-size: 2rem;
    background-color: cornflowerblue;
   padding: 1rem;
    display:inline;
    justify-content: center;
    border-radius: 1rem;
}
